extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is the community page
  include community_create_post
  p
  if(data)
    p Posts
    p -----------------------------------------

    each item in data
      div
        table
          thead
            tr
          tbody
            
              tr=item.Posted_by
              p
              tr=item.post_title +" : "+item.text_post
              p
              tr=item.created_at
              p
              if(item.attachedfile_path)
                img(src=item.attachedfile_path)

          p -----------------------------------------

  p
  a(href='/logout') Logout
  p
  a(href='/adopt') Adopt
  p
  a(href='/dates') Dates
  p
  a(href='/rescue') Rescue
  p
